* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: white;
  margin: 0;
  background-image: url("hexbg.png");
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  background-color: teal;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid teal;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #11acac;
  border-color: #11acac;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: teal;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: teal;
  color: white;
}

.projects h2 {
  font-size: 42px;
  margin: 25px auto;
}

.projects p {
  font-size: 18px;
  line-height: 130%;
  max-width: 50ch;
}

.projects__cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.projects__card {
  max-width: 350px;

  padding: 20px;

  border: 1px solid #0088BB;
  border-radius: 8px;
}

.projects__card h3 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
}

.projects__card p {
  font-size: 16px;
  margin: 20px 0;
}

.projects__card img {
  width: 100%;
  height: auto;
  margin: 20px 0 10px;

  border-radius: 8px;
}

.projects__card .btn {
  margin: 10px 5px 0;
}

.large h2 {
  font-size: 42px;
  margin: 25px auto;
}

.large p {
  font-size: 18px;
  line-height: 130%;
  max-width: 50ch;
}

.large__cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.large__card {
  max-width: 1000px;

  padding: 40px;

  border: 1px solid #4800bb;
  border-radius: 8px;
}

.large__card h3 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
}

.large__card p {
  font-size: 16px;
  margin: 20px 0;
}

.large__card img {
  width: 100%;
  height: auto;
  margin: 20px 0 10px;

  border-radius: 8px;
}

.large__card .btn {
  margin: 10px 10px 10px;
  padding: 3px;
}